@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reset */

body {
  font-family: "Inter", sans-serif;
  color: var(--color-black);
}


:root{
  --color-primary: #166534;
  --color-grey: #D1D5DB;
  --color-black: #262626;
}

/* breakpoint */
.modBreakpointPc{
  @media screen and (min-width: 768px) {
    display: inherit;
  }
  @media screen and (max-width:768px) {
    display: none;
  }
}

.modBreakpointSp{
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (max-width:768px) {
    display: inherit;
  }
}

.modSection{
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 min(5%, 65px);
  margin-top: 50px;
}

.modSection--Small{
  position: relative;
  max-width: 945px;
}

.modBlockquote{
  position: relative;
  font-size: 20px;
  line-height: 28px;
}

.modBlockquote::before{
    content: "";
    width: 8px;
    height: 100%;
    background-color: var(--color-primary);
    position: absolute;
    left: -32px;
    top: 0;
  }

.modColorPrimary{
  color: var(--color-primary);
}

/* button */ 
.modBtn{
  padding: 12px 24px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 44px;
  border: none;
  color: white;
  background-color: var(--color-primary);
}

.modOutlineBtn{
  padding: 12px 24px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 44px;
  background-color: transparent;
}

.modSignInBtn{
  border: 1px solid var(--color-grey);
  color: var(--color-black);
  margin-right: 16px;
}

/* header */
header section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-grey);
  border-radius: 48px;
  padding: 10px 10px 10px 30px;
  margin: 50px auto;
  max-width: 1360px;
  box-sizing: border-box;
}

nav{
  display: flex;
  flex-direction: row;
  gap: 24px;
}

nav a{
  color: var(--color-black);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.logo{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: var(--color-primary);
}

.active{
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 5px;
}

.active::before{
  content: "";
  background-color: var(--color-primary);
  width: 8.33px;
  height: 8.33px;
  border-radius: 50%;
  display: inline-block;
}

.modCounter{
  display: flex;
  justify-content: space-around;
}

.Counter{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.Counter--Num{
  font-size: 128px;
  font-weight: 700;
}

.Counter--Description{
  font-size: 16px;
  font-weight: 500;
}

/* Green text in headings and paragraphs */
.GreenText{
    color: var(--color-primary);
}

.modFirstHeading{
  font-size: 36px;
  font-weight: 700;
}

.modSecondHeading{
  font-size: 30px;
  font-weight: 700;
}

/* footer */

footer{
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0 96px;
  margin: 80px;
}

.footer--section{
    display: flex;
    justify-content: space-around;
}

.footer--first{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socialMediaIcon{
    display: flex;
    gap: 32px;
}

.footer--link{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer--link a{
    text-decoration: none;
    color: var(--color-grey);
}

.footer--second--column{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer--second{
    display: flex;
    gap: 50px;
}

.copyright{
  font-size: 16px;
  font-weight: 500;
  color: #000;
  display: block;
  text-align: center;
}

footer hr{
  width: 100%;
}

.footer--link span{
  color: var(--color-grey);
}